fastapi[all]
uvicorn
httpx
python-dotenv
aiofiles
python-jose[cryptography]
passlib[bcrypt]
pydantic[email]
asyncpg
SQLAlchemy>=2.0.0
fastapi-mail
pytest
pytest-asyncio
coverage
pandas
reportlab
python-multipart
jinja2
bcrypt
